.template:
  cache:
    paths: [vendor/]
  parallel:
    matrix:
      - WEASYPRINT: ['63.0', '64.0', '65.0', '66.0']
  before_script:
    - apk -q add py3-pip py3-pillow py3-cffi py3-brotli gcc musl-dev python3-dev pango fontconfig-dev font-noto
    - pip3 -q install weasyprint==$WEASYPRINT --break-system-packages
    - weasyprint --info
    - curl -sS https://getcomposer.org/installer | php
    - php composer.phar install -qo
  script:
    - ./vendor/bin/pest --profile

php8.2:
  extends: .template
  image: php:8.2-cli-alpine

php8.3:
  extends: .template
  image: php:8.3-cli-alpine

php8.4:
  extends: .template
  image: php:8.4-cli-alpine
