/.forgejo export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/Dockerfile export-ignore
/docker-compose.yml export-ignore
/justfile export-ignore
/phpunit.xml export-ignore
/tests export-ignore
/CONTRIBUTING.md export-ignore
/UPGRADING.md export-ignore
